<%-include('header.ejs') %>

<!-- Begin page content -->
<main role="main" class="flex-shrink-0">
    <div class="container">
      <section>
          <div class="row">
              <div class="col-md-12">
                  <div class="box box-primary">
                      <div class="box-header with-border">
                          <h3 class="box-title mt-5">Register</h3>
                      </div>
                      <!-- 절대경로 /board/register -->
                      <form role="form" method="post" action="./writePro">
                          <div class="box-body">
                          <div class="form-group">
                          <label for="title">Title</label>
                          <input type="text" class="form-control" name="title" id="title" placeholder="제목 입력...">
                          </div>
                          <div class="form-group">
                          <label for="writer">Writer</label>
                          <input type="text" class="form-control" name="writer" id="writer" placeholder="작성자 입력...">
                          </div>
                          <div class="form-group">
                          <label>Content</label>
                          <textarea class="form-control" rows="3" name="content" placeholder="내용입력...."></textarea>
                          </div>
                          </div>
                          
                          <div class="box-footer">
                          <button type="submit" class="btn btn-primary">저장</button>
                          <button type="reset" class="btn btn-primary">취소</button>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </section>
    </div>
  </main>

  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="https://getbootstrap.com/docs/4.6/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="https://getbootstrap.com/docs/4.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

  
</body>
</html>