/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

main > .container {
  padding: 60px 15px 0;
}

.footer {
  background-color: #f5f5f5;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
<<<<<<< HEAD
}
=======
}
>>>>>>> 967ebdd261254dcf2b4a04c05b4622a31c2ee409
